.more-suggestions {
  margin-top: 52px;
  border-top: 1px solid var(--pink);
  padding-top: 15px;
}

.more-suggestions__title {
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.more-suggestions__icons {
  display: flex;
  padding: 10px 14px;
}

.more-suggestions__icon-image {
  width: 50px;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.more-suggestions__icon-image img {
  width: 45px;
  height: 45px;
  border-radius: 20%;
  margin-bottom: 10px;
}

.more-suggestions__name {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  width: max-content;
  bottom: -20px;
  color: rgba(0, 0, 0, 0.5);
}
