.alt-screen-header {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding: 20px;
  padding-top: 54px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column h1 {
  font-size: 21px;
}

.alt-screen-header__column .alt-screen-header__column:first-child {
  margin-right: auto;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
